.white-card {
  color: black;
  background-color: white;
  height: 12em;
  width: 8em;
  min-width: 8em;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem;
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
}
.white-card:hover {
  box-shadow: rgba(20, 20, 20, 30) 0 8px 15px;
  transform: translateY(-3px);
}

.black-card {
  color: white;
  background-color: black;
  height: 12em;
  width: 8em;
  min-width: 8em;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem;
  padding: 1em;
  margin: 0.5em;
}

.card-text {
  text-align: left;
  font-size: medium;
}
